<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310325821984-sqrga1ajb4odb44fd7nqcq8fu9i9qqp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310325821984-sqrga1ajb4odb44fd7nqcq8fu9i9qqp9</string>
	<key>API_KEY</key>
	<string>AIzaSyBSpQqqvV-X2Zkz6zbrmB4nKoAO2YzxPYY</string>
	<key>GCM_SENDER_ID</key>
	<string>310325821984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedroluis.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-27bba</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-27bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310325821984:ios:817b02ebd454752b013245</string>
</dict>
</plist>